html {
    background-color: rgb(219, 255, 255);
}

.toc-list {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
}

.toc-list li {
    float: left;
}

.toc-list li a {
    display: block;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.toc-list li a:hover {
    background-color: rgb(126, 126, 126);
}

#page-title { 
    text-decoration: none;
    color: black;
}

h1 {  
    text-align: center;
    font-size: 70px;
    margin-bottom: -20px;
}

h2 {
    font-size: 23px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

#main-content-container #onslaught {
    width: 1040px;
    height: 1550px;
}

#self-portrait {
    max-width: 500px;
    max-height: 500px;
    float: left;
    margin-right: 10px;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.two-column-list li {
    flex: 1;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
}

.left-column {
    display: flex;
    align-items: center;
}

.left-column img {
    width: 320px;
    height: 180px;
}

.left-column button {
    
}

.right-column {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

#gameDescription {
   font-size: 18px
}